@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn {
  border-radius: 41px;
  background: rgba(224, 44, 109, 1);
  color: white;
  font-weight: 700;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
}

header {
  margin: 40px 100px 80px 100px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.influencer-tab {
  display: flex;
  list-style: none;
  gap: 30px;
}

ul a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 300;
}

.influencer {
  font-size: 1.5rem;
  font-weight: 500;
}

.banner {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

.banner-description {
  max-width: 580px;
}

.banner-description .start {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(58, 58, 58, 1);
  margin-bottom: 16px;
}

.start-description {
  font-weight: 500;
  opacity: 0.8;
}

.img {
  background-image: url(/images/Circle\ design.svg);
}

.logos {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-evenly;
  margin: 150px 100px;

}

.card-section {
  margin: 0px 100px;

}

.card-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  margin-bottom: 20px;
}

.card-headline {
  text-align: center;
  color: rgba(58, 58, 58, 1);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.card {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
}

.card img {
  width: 100%;
}

.card h3 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.9;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card .price {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 0px;
  margin-bottom: 8px;
}

.card p {
  font-size: 0.9rem;
  font-weight: 500;
  padding-right: 20px;
  opacity: 0.7;

}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
}

.rating i {
  color: #f7931e;
  /* orange */
}

.rating-number {
  font-size: 20px;
  font-weight: 600;
  color: #555;
}
.see-more{
  text-align: end;
}
.see-more a {
  color: #E02C6D;
  text-decoration: none;
}

.featured-box {
  display: flex;
  gap: 100px;
  margin: 100px 150px;
}
.featured h2{
  color: #0A0826;
  font-size: 2rem;
}
.featured p{
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 30px;
}

.featured {
  max-width: 610px;
}

.footer-box {
  background: rgba(10, 8, 38, 1);
  width: 100%;
  height: 239px;
  margin: 0px 0px;
  text-align: center;
}

.footer-heading {
  color: rgba(255, 255, 255, 1);
  font-style: Bold;
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 50px;
}

.footer-description {
  font-style: Bold;
  font-size: 1rem;
  font-weight: 200;
  color: white;
}

.footer-img {
  display: flex;
  gap: 20px;
  justify-content: center;

}

.display-none {
  display: none;
}